@media screen and (max-width:576px) 
{
/*Navbar Styles*/
.navbar ,.nav-info
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-info
{
    gap:0px;
}
.nav-info ul
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
/*Banner Styles*/
.banner
{
    flex-direction: column-reverse;
    margin-top: 40px;
  
    
    
}
.banner-imgs img
{
    margin-top: 30px;
    width: 100%;
}
.banner-title
{   
    margin-top: 30px;
    font-size: 1.6rem;
}
.goat
{
    font-size: 4rem;
    
}
.banner-info
{
    margin-top: 40px;
    padding-bottom:40px;
}
.banner-info p 
{
    font-size: 0.85rem;
    padding: 5px;
    margin-bottom: 5px;
}
/*Online Games Section*/
.cards-title
{
    font-size: 1.5rem;
}
.cards p
{
    font-size: 1rem;
}
.card
{
    flex-direction: column;
    padding: 20px;
}
/*Rectangle*/
.rectangle
{
    flex-direction: column;
    gap:50px;
}
.rec-info
{
    font-size: 2rem ;
    text-align: center;
}
.rectangle-info p
{
    text-align: center;
    font-size: 0.9rem;
}
.rectangle-img
{
    margin: 0 auto;
    width: 80%;
    position: relative;
    margin-left: 50px;
    
}
.rectangle-img img
{
    height:100%;
    width: 100%;
    margin: 0 auto;
}
.relative-img
{
    left: -30px;
    top:180px;
    
}
.relative-img img
{
    width: 100px;
    height:150px;
}
/*Gametype Styles*/
.game-section
{
    width:58%;
}
.gametypes
{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
}

.gametype
{
    border-radius: 40px;
    padding: 7px;
    width: 140px;
    align-items: center;
}
.gametype img
{
    height:50px;
}
.gametype h4
{
    font-size: 0.9rem;
}
/*Footer*/
footer
{
    padding: 10px;
}
.footer-container
{
    padding: 0px;
    margin-right: 20px;
}
.footer-links
{
    align-items: center;
    justify-content: center;
    
}

.footer-links ul
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 0.9rem;
    
    
}
.footer-links ul li
{
    
    gap:0px;
}

}
    
