/*Common Styles*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300;1,700&family=Work+Sans:wght@300;400;600;700&display=swap');

*
{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/*Navbar Styles*/
.navbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-info ul
{
    display: flex;
    list-style-type: none;
    gap: 40px;
    color: black;
}
.nav-info a
{
    text-decoration: none;
    color: black;
}
.ulbox
{
    display: flex;
    align-items: center;   
    width: 200px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    margin-left: 20px;
}
/*Banner Section Styles*/
.goat
{   
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner
{
    display: flex;
    padding: 30px;
    margin-top: 70px;
    justify-content: space-around;
}
.banner-title
{
    padding: 9px;
}
.banner-info p 
{
    padding: 10px;
    margin: 0px;
}
.banner-info button
{
    margin-left: 10px;
    margin-top: 10px;
}
.p-btn
{
   
    padding: 21px 40px;
    align-items: flex-start;
    color: #FFFFFF;
    border: 0px;
    gap: 10px; 
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.s-btn
{
   
    padding: 21px 40px;
    gap: 10px; 
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    border: 0px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

